.hero {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border: transparent;
  border-radius: 40px;
  margin-top: 200px;
  margin-bottom: 100px;
}

/* Background Image */
.heroBg {
  position: absolute;
  inset: 0;
  z-index: -1;
  border: none;
  border-radius: 50%;
}

.bgImage {
  object-fit: cover;
}

/* Main content */
.heroContent {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.left {
  color: #ffffff;
  max-width: 700px;
}

.left h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.left p {
  font-size: 1.2rem;
}

.up{
  display: flex;
  align-items: center;
  gap: 20px;
}

.uploadBtn {
  background: #ffffff;
  color: #1f6563;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  margin-right: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.storeBtns {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  color: #000;
  border-radius: 12px;
  padding: 14px 22px;
  min-width: 200px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.buttons:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.buttons div:first-child p {
  margin: 0;
  line-height: 1.4;
}

.buttons div:first-child p:first-child {
  font-size: 14px;
  opacity: 0.7;
}

.buttons div:first-child p:last-child {
  font-size: 20px;
  font-weight: 600;
}

/* Mobile Mockup OUTSIDE hero */
.mobileWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 650px;
  max-width: 90vw;
  height: auto;
  z-index: 10;
  transform: translate(-5%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease, transform 0.3s ease;
}

.mobileImg {
  width: 100%;
  height: auto;
}

/* Responsive Styles */

@media screen and (max-width: 1400px) {
  .heroContent {
    padding: 2rem 4rem;
  }

  .left {
    color: #ffffff;
    max-width: 700px;
  }

  .left h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }

  .left p {
    font-size: 1.2rem;
  }
}


@media screen and (max-width: 1280px) {
  .mobileWrapper {
    width: 550px;
    max-width: 90vw;
    top: 10%;
  }

}




@media screen and (max-width: 1190px) {
  .heroContent {
    padding: 2rem;
  }

  .left h1 {
    font-size: 2.2rem;
  }

  /* Mobile Mockup OUTSIDE hero */
  .mobileWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    max-width: 90vw;
    height: auto;
    z-index: 10;
    transform: translate(0%, 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease, transform 0.3s ease;
  }

  .mobileImg {
    width: 100%;
    height: auto;
  }

  .hero {
    margin-bottom: 10px;
    margin-top: 150px;
  }

}



@media screen and (max-width: 1080px) {
  .hero {
    margin-top: 130px;
    margin-bottom: -100px;
  }

  .left {
    max-width: 100%;
    text-align: center;
  }

  .left h1 {
    font-size: 3rem;
  }

  .up{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

  .storeBtns {
    gap: 10px;
    justify-content: center;
  }

  .buttons {
    min-width: 100px;
  }

  .mobileWrapper {
    position: relative;
    margin: 0 auto 0 auto;
    width: 70%;
  }
}

@media screen and (max-width: 1020px) {
  .hero {
    margin-top: 80px;
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 756px) {
  .left h1 {
    font-size: 2.5rem;
  }

  .storeBtns {
    gap: 10px;
    justify-content: center;
  }

  .buttons {
    min-width: 100px;
  }

  .mobileWrapper {
    position: relative;
    margin: 0 auto 0 auto;
    width: 70%;
    margin-top: 80px;
  }
}

@media screen and (max-width: 450px) {
  .left{
    width: 100%;
  }
  .left h1 {
    font-size: 1.6rem;
  }

   .up{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

/* .buttons {
    max-width: 200px;
  } */

  .mobileWrapper{
    width: 100%;
  }
}