/* Gradient Text */
.gradientText {
  background: linear-gradient(90deg, #1F6563 0%, #3ECBC7 39%, #2F9895 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .gradientText {
    font-size: 2.5rem; /* md screens */
  }
}

@media (min-width: 1024px) {
  .gradientText {
    font-size: 4rem; /* lg screens */
  }
}

/* Subtext color */
.subText {
  color: #697E7F;
}

/* Step circle */
.circleStep {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #1F6563;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.7rem;
  flex-shrink: 0;
}

/* Step label */
.stepLabel {
  font-size: 2rem;
  color: #1F6563;
  font-weight: 500;
}

/* Step heading */
.stepHeading {
  font-size: 1.25rem; /* slightly smaller than h2 */
  font-weight: 500;
  color: #000000;
}

/* Step subtext */
.stepSubtext {
  font-size: 1rem;
  color: #697E7F;
  max-width: 500px; /* optional to limit width */
  text-transform:capitalize;
  margin-bottom: 2rem;
}


.button{
    width: 30%;
    background-color: #F4C900;
  color: black;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.button:hover{
    filter: brightness(1.05);
    transform: translateY(-2px);
}